.img-slider{
    position: relative;
    width: 800px;
    height: 500px;
    margin: 10px;
    .slide{
        z-index: 1;
        position: absolute;
        width: 100%;
    }
    img{
        z-index: 1;
        width: 100px;
        border-radius: 5px;
    }
}

.img-slider .slide .info{
    position: absolute;
    top: 0;
    padding: 15px 30px;
}