/***       font       ***/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&family=Roboto&display=swap');


/***       root       ***/
:root{
    --primary: #b5f7d2;
    --shadow: #80ffb7;
    --secondary: #005223;
    --highlight: #16d066;
    --transition: all 0.5 ease-in-out;
}


/***       presets       ***/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

a{
    color: #000;
    text-decoration: none;
}

ul li{
    list-style-type: none;
}
  
button{
    outline: 0;
    cursor: pointer;
}

/***       navbar style       ***/
.container{
    width: 100%;
    margin: 0 auto;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    display: flex;
    justify-content: stretch;
}

.navbar{
    display: flex;
    background: var(--primary);
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.navbar-logo{
    padding: 30px;
    font-size: 1.2rem;
    font-weight: 800;
    color: var(--secondary);
}

.navbar-logo:hover{
    text-shadow: 6px 8px 7px var(--shadow);
}

.nav-btns{
    display: none;
}

.navbar-nav{
    margin-top: 7rem !important;
    width: 90vw;
    margin: 0 auto;
}

/***       navbar collapse style       ***/
.navbar-toggler{
    z-index: 1000;
    padding: 0.2rem 0.4rem;
    font-size: 1.6rem;
    border: none;
    background: none;
    color: var(--secondary);
    transition: var(--transition);
}

.navbar-collapse{
    z-index: 999;
    position: absolute;
    top: 0;
    right: 0;
    background: var(--primary);
    height: 70%;
    width: 0;
    overflow: hidden;
    transition: var(--transition);
}

.nav-item{
    margin: 0.7rem 0;
    padding: 1rem 0;
    text-align: center;
}

.search-container{
    display: none;
}

.nav-link{
    color: var(--secondary);
    text-transform: uppercase;
    font-size: 1.3rem;
    .span-about{
        color: #000;
    }
}

.nav-link:hover{
    text-shadow: 0 0 4px var(--highlight);
}

.nav-link .span-about:hover{
    text-shadow: 6px 8px 7px var(--shadow);
}

.showNav{
    width: 100%;
  }

/***       media querys       ***/
@media screen and (min-width: 500px){
    .navbar-logo{
        font-size: 1.5rem;
    }

    .nav-item-side{
        display: flex;
    }

    .nav-item-side span{
        color: #59826b;
        font-size: 1rem;
        padding: 0.5rem 1rem;
        cursor: pointer;
        transition: var(--transition);
    }

    .nav-item-side span:hover{
        opacity: 0.7;
    }

}

@media screen and (min-width: 992px){
    .navbar-toggler{
        display: none;
    }

    .nav-btns{
        display: flex;
        button{
            display: inline-block;
            font-size: 0.9rem;
            font-weight: 300;
            opacity: 0.9;
            padding: 0.4rem 0;
            border-width: 0.5px;
            border-style: solid;
            margin: 0 0.5rem;
            width: 100px;
            transition: var(--transition);
        }
    }

    .search-container{
        display: flex;
        button{
            background: #adffd1;
            font-size: 0.9rem;
            cursor: pointer;
            padding: 6px 10px;
            border: 1px solid var(--shadow);
        }
        input[type=text]{
            font-size: 0.9rem;
            padding: 6px;
            border: 1px solid var(--shadow);
            width: 450px;
            background: #adffd1;
        }
    }
    
    .search-container button:hover{
        background: var(--shadow);
        border-color: var(--highlight);
    }

    .nav-btns button:hover{
        opacity: 1;
    }

    .nav-btns button:first-child{
        border-color: var(--shadow);
        background: transparent;
        color: var(--secondary);
    }

    .nav-btns button:first-child:hover{
        border-color: var(--highlight);
        background: var(--shadow)
    }

    .nav-btns button:nth-child(2){
        border-color: var(--shadow);
        background: transparent;
        color: var(--secondary);
    }

    .nav-btns button:nth-child(2):hover{
        border-color: var(--highlight);
        background: var(--shadow);
    }

    .nav-btns button:last-child{
        border-color: transparent;
        background: transparent;
        color: var(--secondary);
    }

    .nav-btns button:last-child:hover{
        border-color: var(--highlight);
        background: var(--shadow);
    }

    .navbar-side{
        display: flex;
        flex: 1 0 30%;
        justify-content: flex-end;
        align-items: center;
        padding: 1rem 0;
    }

    .navbar-nav{
        display: flex;
        margin: 0 !important;
    }

    .nav-item{
        padding: 0;
        margin: 0 0.8rem;
    }

    .nav-link{
        margin: 0 2rem;
        font-size: 1rem;
        letter-spacing: normal;
        text-transform: capitalize;
        color: #000;
    }

    .nav-link:hover{
        text-shadow: none;
        color: var(--secondary);
    }
}