  /***       font       ***/
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&family=Roboto&display=swap");
  /***       root       ***/
:root{
  --primary: #b5f7d2;
  --shadow: #80ffb7;
  --secondary: #005223;
  --highlight: #16d066;
  --transition: 0.5s;
}

  /***       presets       ***/
*{
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}
a{
  color: #000;
  text-decoration: none;
}
ul li{
  list-style-type: none;
}
button{
  outline: 0;
  cursor: pointer;
}


          /***       NOTIFICATIONS & LOGGED USERS       ***/






  /***       notifications       ***/
.alert{
  position: fixed;
  text-align: center;
  line-height: 300%;
  font-size: 0.9rem;
  z-index: 5;
  right: 0;
  top: 7rem;
  width: 18.75rem;
  height: 2.8rem;
  margin: 1.25rem;
  transition: var(--transition);
  background: var(--primary);
  border-radius: 0.25rem;
  border: 0.06rem solid var(--highlight);
}
.alert button{
  position: absolute;
  right: 0.3rem;
  color: var(--secondary);
  margin: 0.8rem;
  width: 1.3rem;
  height: 1.3rem;
  background: var(--primary);
  border-radius: 50%;
  border: 0.06rem solid transparent;
  transition: var(--transition);
}
.alert button:hover{
  background: var(--shadow);
  border-color: var(--highlight);
}
.alert .dot-not{
  position: absolute;
  top: 0.13rem;
  left: 2.18rem;
  font-size: 1.2rem;
  color: var(--highlight);
}
.alert .msg{
  color: var(--secondary);
}
/**.alert.show{
  animation: show_slide 1s ease forwards;
}
@keyframes show_slide{
  0%{
    transform: trasnlateX(100%);
  }
  40%{
    transform: trasnlateX(-10%);
  }
  80%{
    transform: trasnlateX(0%);
  }
  100%{
    transform: trasnlateX(-10%);
  }
}
.alert.hide{
  display: none;
}  ***/
  /***       profile style       ***/
.profile-container{
  position: absolute;
  left: 40%;
  top: 12.5rem;
  margin: 0.3rem;
}
  /***       signup style       ***/
.signup-container{
  position: absolute;
  left: 40%;
  top: 6rem;
  margin: 3rem;
}
.signup-container .signup-title{
  text-align: center;
  color: var(--secondary);
  font-weight: 300;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}
.signup-container .signup-title i{
  text-align: left;
  margin: 0.6rem;
}
.signup-container .signup-text{
  position: absolute;
  line-height: 3rem;
  top: 6rem;
  left: 3rem;
  color: var(--secondary);
  font-size: 1.3rem;
}
.signup-container .signup-btn{
  position: absolute;
  bottom: -1.8rem;
  background: var(--primary);
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 300;
  opacity: 0.9;
  left: 4.06rem;
  padding: 0.4rem 0;
  border-width: 0.03rem;
  border-radius: 0.3rem;
  border-style: solid;
  margin: 0 0.5rem;
  width: 6rem;
  transition: var(--transition);
}
.signup-container .signup-btn:hover{
  background: var(--shadow);
  border-color: var(--highlight);
  opacity: 1;
}
.signup-container input{
  position: relative;
  width: 12.5rem;
  left: 1.3rem;
  bottom: 0.56rem;
  padding: 0.4rem;
  font-size: 0.9rem;
  border-color: var(--highlight);
  background: #adffd1;
}
.signup-container .signup-text input:focus{
  outline: none;
}
  /***       log in style       ***/
.log-container{
  position: absolute;
  left: 40%;
  top: 6rem;
  margin: 3rem;
}
.log-container .log-title{
  text-align: center;
  color: var(--secondary);
  font-weight: 300;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}
.log-container .log-title i{
  text-align: left;
  margin: 0.6rem;
}
.log-container .log-btn{
  position: absolute;
  background: var(--primary);
  font-size: 0.9rem;
  font-weight: 300;
  opacity: 0.9;
  left: 4.63rem;
  padding: 0.4rem 0;
  border-width: 0.03rem;
  border-radius: 0.3rem;
  border-style: solid;
  margin: 0 0.5rem;
  width: 6rem;
  transition: var(--transition);
}
.log-container .log-btn:hover{
  background: var(--shadow);
  border-color: var(--highlight);
  opacity: 1;
}
.log-container .log-text{
  position: absolute;
  top: 6rem;
  left: 3rem;
  color: var(--secondary);
  font-size: 1.3rem;
}
.log-container .log-text input{
  width: 12.5rem;
  left: 1.3rem;
  top: 0.5rem;
  padding: 0.4rem;
  font-size: 0.9rem;
  position: relative;
  border-color: var(--highlight);
  background: #adffd1;
}
.log-container .log-text input:focus{
  outline: none;
}
  
          /***       END NOTIFICATIONS & LOGGED USERS       ***/
          


          /***       NAVBAR & MENUS       ***/






  /***       navbar style       ***/
.container{
  width: 100%;
  margin: 0 auto;
  transition: var(--transition);
}
.center{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}
.navbar{
  z-index: 3;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: var(--primary);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.nav-item-side{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav-item-side span{
  color: #59826b;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.nav-item-side span:hover{
  opacity: 0.7;
}
.nav-btns{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav-btns button{
  display: inline-block;
  border-radius: 0.3rem;
  font-size: 0.9rem;
  font-weight: 300;
  opacity: 0.9;
  padding: 0.4rem 0;
  border-width: 0.03rem;
  border-style: solid;
  margin: 0 0.5rem;
  width: 6rem;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.search-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}
.search-container p{
  text-transform: uppercase;
  font-size: 0.8rem;
  text-align: left;
  margin-left: 3rem;
  visibility: hidden;
}
.search-container button{
  background: var(--primary);
  border-radius: 0.3rem;
  font-size: 0.8rem;
  position: absolute;
  opacity: 0.9;
  padding: 0.4rem;
  color: var(--secondary);
  border: 1px solid transparent;
  transition: var(--transition);
}
.search-container input{
  position: relative;
  font-size: 0.9rem;
  padding: 0.4rem;
  border: 0.06rem solid transparent;
  border-radius: 0.3rem;
  width: 1.3rem;
  transition: var(--transition);
  background: #adffd1;
  cursor: text;
}
.search-container input.active{
  width: 12.5rem;
  left: 1.6rem;
  border-color: var(--highlight);
}
.search-container input:focus{
  outline: none;
}
.search-container button:hover, .search-container button:focus{
  background: var(--shadow);
  border-color: var(--highlight);
  opacity: 1;
}
.nav-btns button:hover{
  opacity: 1;
}
.nav-btns button:first-child{
  border-color: var(--shadow);
  background: transparent;
  color: var(--secondary);
}
.nav-btns button:first-child:hover{
  border-color: var(--highlight);
  background: var(--shadow);
}
.nav-btns button:nth-child(2){
  border-color: var(--shadow);
  background: transparent;
  color: var(--secondary);
}
.nav-btns button:nth-child(2):hover{
  border-color: var(--highlight);
  background: var(--shadow);
}
.nav-btns button:last-child{
  border-color: transparent;
  background: transparent;
  color: var(--secondary);
}
.nav-btns button:last-child:hover{
  border-color: var(--highlight);
  background: var(--shadow);
}
.navbar-side{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 30%;
          flex: 1 0 30%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
}
.navbar-nav{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 !important;
}
.nav-item{
  padding: 0;
  margin: 0 0.8rem;
}
.nav-link{
  margin: 0 2rem;
  font-size: 1rem;
  letter-spacing: normal;
  text-transform: capitalize;
  color: #000;
}
.nav-link:hover{
  text-shadow: none;
  color: var(--secondary);
}
.navbar-logo{
  padding: 1.87rem;
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--secondary);
  transition: var(--transition);
}
.navbar-logo:hover{
  text-shadow: 0.4rem 0.5rem 0.43rem var(--shadow);
}
.navbar-toggler{
  display: none;
}
.navbar-collapse{
  display: none;
}
  /***       sticky navbar       ***/
.navbar.sticky{
  width: 99%;
  height: 7%;
  margin: 0.53rem;
  border: 0.06rem solid var(--shadow);
}
.navbar.sticky .navbar-logo{
  font-size: 1.3rem;
  padding: 1.6rem;
}

@media all and (max-width: 992px){
  /***       navbar collapse style       ***/
.search-container{
  display: none;
}
.navbar{
  position: static;
}
.navbar-logo{
  font-size: 1.2rem;
}
.navbar-side{
  display: none;
}
.navbar-toggler{
  display: flex;
  z-index: 4;
  padding: 0.2rem 0.4rem;
  font-size: 1.2rem;
  border: none;
  background: none;
  color: var(--secondary);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.navbar-collapse{
  display: flex;
  z-index: 4;
  position: absolute;
  top: 0;
  right: 0;
  background: var(--primary);
  height: 70%;
  width: 0;
  overflow: hidden;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.navbar-nav{
  margin-top: 7rem !important;
  width: 90vw;
  margin: 0 auto;
  display: block;
}
.nav-item{
  margin: 0.7rem 0;
  padding: 1rem 0;
  text-align: center;
}
.nav-link{
  color: var(--secondary);
  text-transform: uppercase;
  font-size: 1.3rem;
}
.nav-link .span-about{
  color: #000;
}
.nav-link:hover{
  text-shadow: 0 0 0.3rem var(--highlight);
}
.nav-link .span-about:hover{
  text-shadow: 0.4rem 0.5rem 0.43rem var(--shadow);
}
.showNav{
  width: 100%;
}
}





  
          /***       END NAVBAR & MENUS       ***/







  /***       image slider style       ***/
.img-slider{
  position: relative;
  top: 5.62rem;
  left: 33.33%;
  width: 50rem;
  height: 31.2rem;
  margin: 0.6rem;
}
.img-slider .slide{
  z-index: 1;
  position: absolute;
  width: 100%;
  -webkit-clip-path: circle(0% at 0 50%);
          clip-path: circle(0% at 0 50%);
}
.img-slider img{
  z-index: 1;
  border-radius: 0.3rem;
}
.img-slider .slide.active{
  -webkit-clip-path: circle(150% at 0 50%);
          clip-path: circle(150% at 0 50%);
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-transition-property: -webkit-clip-path;
  transition-property: -webkit-clip-path;
  transition-property: clip-path;
  transition-property: clip-path, -webkit-clip-path;
}
.img-slider .slide .info{
  position: relative;
  cursor: default;
  bottom: 31.2rem;
  right: 31.2rem;
  padding: 0.9rem 1.87rem;
}
.img-slider .slide .info a{
  color: var(--secondary);
  font-size: 2.81rem;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.13rem;
}
.img-slider .slide .info a:hover{
  text-shadow: 0.4rem 0.5rem 0.43rem var(--shadow);
}
.img-slider .slide .info p{
  color: var(--secondary);
  background: var(--primary);
  font-size: 1rem;
  width: 60%;
  padding: 0.6rem;
  border-radius: 0.3rem;
}
.img-slider .navigation{
  z-index: 2;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 31.2rem;
  right: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.img-slider .navigation .btn{
  background: var(--primary);
  transition: var(--transition);
  width: 0.8rem;
  height: 0.8rem;
  margin: 0.6rem;
  opacity: 0.9;
  border-radius: 50%;
  border: 0.06rem solid transparent;
  cursor: pointer;
}
.img-slider .navigation .btn:hover{
  border-color: var(--highlight);
  background: var(--shadow);
  opacity: 1; 
}
.img-slider .navigation .btn.active{
  background: var(--shadow);
  opacity: 1;
  border-color: var(--highlight);
  -webkit-box-shadow: 0 0 0.13rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0.13rem rgba(0, 0, 0, 0.5);
}

  /***       cards       ***/
.banner-card{
  color: var(--secondary);
  position: absolute;
  bottom: 0;
  margin: 0.6rem;
  left: 12.5rem;
  background: var(--primary);
  border-radius: 0.3rem;
  width: 45%;
}
.banner-card::after{
  content: '';
  position: absolute;
  left: 0;
  top: -0.6rem;
  background-color: #59826b;
  height: 0.13rem;
  box-sizing: border-box;
  width: 6rem;
}
.banner-card::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -0.6rem;
  background-color: #59826b;
  height: 0.13rem;
  box-sizing: border-box;
  width: 8rem;
}
.card-list{
  display: flex;
  margin-top: 100px;
}
.card-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1.3rem;
}
.arrows{
  display: none;
}
.card{
  position: relative;
  top: 31.2rem;
  left: 12.5rem;
  max-width: 31.2rem;
  min-height: 50vh;
  margin: 0.6rem;
  padding: 1.87rem;
  border-radius: 0.6rem;
  box-shadow: 0 0 0.9rem rgba(0, 0, 0, 0.25);
}
.card-header{
  padding: 1.87rem 3rem;
  text-align: center;
  cursor: default;
}
.card-header img{
  max-height: 12.5rem;
}
.product-title{
  font-size: 1.87rem;
  color: var(--secondary);
  cursor: default;
  line-height: 1;
}
.product-status{
  color: #59826b;
  cursor: default;
}
.product-price{
  font-size: 1.87rem;
  color: var(--secondary);
  margin: 1.3rem 0;
  cursor: default;
}
.card-footer{
  display: flex;
  justify-content: space-between;
}
.card-btn{
  padding: 0.6rem 3rem;
  border-style: solid;
  opacity: 0.9;
  border-color: var(--primary);
  font-family: inherit;
  border-radius: 0.3rem;
  font-size: 1rem;
  width: 100%;
  cursor: pointer;
  transition: var(--transition);
}
.btn-primary{
  border-color: var(--shadow);
  background: var(--primary);
  color: var(--secondary);
}
.btn-primary:hover{
  border-color: var(--highlight);
  background: var(--shadow);
  opacity: 1;
}
.btn-secondary{
  color: #59826b;
  border-color: transparent;
}
.btn-secondary:hover{
  opacity: 0.7;
}
.card-footer .card-btn:first-child{
  margin-right: 0.9rem;
}
.card-new{
  display: flex;
  margin-top: 250px;
}
.banner-new{
  color: var(--secondary);
  position: absolute;
  bottom: -775px;
  margin: 0.6rem;
  left: 12.5rem;
  background: var(--primary);
  border-radius: 0.3rem;
  width: 45%;
}
.banner-new::after{
  content: '';
  position: absolute;
  left: 0;
  top: -0.6rem;
  background-color: #59826b;
  height: 0.13rem;
  box-sizing: border-box;
  width: 6rem;
}
.banner-new::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -0.6rem;
  background-color: #59826b;
  height: 0.13rem;
  box-sizing: border-box;
  width: 8rem;
}
.card-off{
  display: flex;
  margin-top: 250px;
}
.banner-off{
  color: var(--secondary);
  position: absolute;
  bottom: -1550px;
  margin: 0.6rem;
  left: 12.5rem;
  background: var(--primary);
  border-radius: 0.3rem;
  width: 45%;
}
.banner-off::after{
  content: '';
  position: absolute;
  left: 0;
  top: -0.6rem;
  background-color: #59826b;
  height: 0.13rem;
  box-sizing: border-box;
  width: 6rem;
}
.banner-off::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -0.6rem;
  background-color: #59826b;
  height: 0.13rem;
  box-sizing: border-box;
  width: 8rem;
}
.product-oldprice{
  margin: 1.3rem 0;
  font-size: 1.3rem;
  color: #59826b;
  cursor: default;
  text-decoration: line-through 2px #8fb39e;
}
.product-newprice{
  font-size: 1.87rem;
  color: var(--secondary);
  margin: 1.3rem 0;
  cursor: default;
}
  /***       media queries       ***/
@media all and (max-width: 992px){
  .img-slider{
    width: 37.5rem;
  }
  .img-slider img{
    width: 37.5rem;
  }
  .img-slider .slide .info{
    right: 19.5rem;
  }
  .img-slider .slide .info p{
    width: 40%;
  }
  .img-slider .slide .info a{
    font-size: 1.87rem;
  }
  .img-slider .navigation{
    top: 18.7rem;
    left: 3rem;
  }
  .card-list{
    position: relative;
    display: flex;
    right: 6rem;
    max-width: 90vh;
    top: 9.37rem;
  }
  .card-container{
    display: flex;
    object-fit: cover;
    flex-wrap: nowrap;
    overflow: hidden;
  }
  .card{
    top: 0px;
  }
  .card-header img{
    max-height: 6.25rem;
  }
  .card-btn{
    padding: 0.3rem 1.3rem;
    width: 6rem;
    font-size: 0.81rem;
  }
  .card-tag{
    padding: 0.15rem 0.3rem;
  }
  .product-title{
    font-size: 1.3rem;
  }
  .product-price{
    font-size: 1.3rem;
  }
  .product-status{
    font-size: 0.81rem;
  }
  .arrows{
    z-index: 1;
    display: flex;
    position: absolute;
    bottom: 12.5rem;
    opacity: 0.9;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--secondary);
    background: var(--primary);
    border-color: var(--shadow);
    border-radius: 100%;
    font-size: 1.6rem;
    height: 1.8rem;
    width: 1.8rem;
    transition: var(--transition);
  }
  .one{
    left: 9.3rem;
  }
  .two{
    left: 50rem;
    bottom: -5.56rem;
  }
  .arrows:hover{
    background: var(--shadow);
    border-color: var(--highlight);
    opacity: 1;
  }
}
  /***       footer style       ***/
.footer{
  background: var(--primary);
  color: var(--secondary);
  height: 25rem;
  position: relative;
  top: 37rem;
  margin-top: 6rem;
}
.footer-container{
  border: 0.06rem solid #adffd1;
  height: 21.87rem;
}
.row{
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.3rem;
}
.footer-col{
  width: 50%;
  padding: 0 18.7rem;
}
.footer-col h4{
  font-size: 1.1rem;
  text-transform: uppercase;
  margin-bottom: 1.87rem;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -0.6rem;
  background-color: #59826b;
  height: 0.13rem;
  box-sizing: border-box;
  width: 3rem;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 0.6rem;
}
.footer-col ul li a{
  color: #59826b;
  transition: var(--transition);
}
.footer-col ul li a:hover{
  opacity: 0.7;
  padding-left: 0.3rem;
}
.links{
  position: relative;
  top: 3.7rem;
  right: 3.7rem;
}
.footer-bottom{
  background: #adffd1;
  color: #59826b;
  height: 3rem;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 1.3rem;
}
.footer-col i{
  font-size: 1.3rem;
  letter-spacing: 1.3rem;
}
.newsletter input{
  border-color: var(--highlight);
  border-radius: 0.3rem;
  padding: 0.4rem;
  font-size: 0.9rem;
  width: 300px;
  background: #adffd1;
  outline: none;
}
.newsletter button{
  border-radius: 5px;
  margin-left: 15px;
  border-style: solid;
  opacity: 0.9;
  font-weight: 18.7rem;
  border-color: var(--primary);
  font-family: inherit;
  cursor: pointer;
  width: 6rem;
  height: 1.87rem;
  background: transparent;
  transition: var(--transition);
  padding: 0.4rem 0;
  border-width: 0.03rem;
  color: var(--secondary);
}
.newsletter button:hover{
  border-color: var(--highlight);
  background: var(--shadow);
  opacity: 1;
}
          






          /***       END HOMEPAGE       ***/